@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Josefin+Sans:ital,wght@0,300;0,600;1,100&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing:border-box;

}

body{
    overflow-x:hidden;
}
h1{
    font-family:'Dancing Script',cursive;
}
.carousel-item img{
    width:100%;
    height: 80vh;
}
.card-body img{
    min-width:50%;
    max-height: 200px;
}
